@import '~prismjs/themes/prism-okaidia.css';
@import '~prismjs/plugins/line-numbers/prism-line-numbers.css';


/**
 * If you already use line highlighting
 */

/* Adjust the position of the line numbers */
.gatsby-highlight pre[class*="language-"].line-numbers {
    padding-left: 2.8em;
}

/**
* If you only want to use line numbering
*/

.gatsby-highlight {
    background-color: #000;
    border-radius: 0.3em;
    margin: 0.5em 0;
    padding: 1em;
    overflow: auto;
}

.gatsby-highlight pre[class*="language-"].line-numbers {
    padding: 0;
    padding-left: 2.8em;
    overflow: initial;
}