.article-content {
  --highlight-color: rgb(0, 200, 200);
  --text-color: #ddd;
  --inline-code-color: #d22d7a;
  --headings-color: #ddd;

  --bg-color: #333;
  --bg-highlight: #282828;
  --bg-dark: #222;
  --border-dark: #555;

  /* prettier-ignore */
  h1, h2, h3, h4, h5, h6 {
    color: var(--headings-color);
    font-weight: 700;
    line-height: 1.5;
    margin: 20px 0 15px;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.45em;
  }

  h4 {
    font-size: 1.25em;
  }

  h5 {
    font-size: 1.1em;
  }

  h6 {
    font-size: 1em;
    font-weight: bold;
  }

  p {
    color: var(--text-color);
    line-height: 1.75rem;
    margin: 0 0 7.5px;
  }

  a {
    color: var(--highlight-color);
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
  }
  a:hover {
    text-decoration: underline;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
    margin: 0 0 20px;
    width: 100%;
  }

  table tr:nth-child(2n - 1),
  thead {
    background-color: var(--bg-highlight);
  }

  tbody tr:hover {
    background: var(--bg-color);
  }

  caption,
  td,
  th {
    font-weight: 400;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
  }

  td,
  th {
    border: 1px solid #555;
  }

  table tr th {
    border-bottom: 3px solid #555;
    font-weight: 700;
    padding-bottom: 10px;
    background-color: var(--bg-color);
  }

  td {
    border-bottom-width: 1px;
  }

  table,
  pre {
    page-break-inside: avoid;
  }

  pre {
    word-wrap: break-word;
  }

  code {
    background: var(--bg-dark);
    border-radius: 3px;
    color: var(--inline-code-color);
    padding: 2px 4px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-family: 'JetBrains Mono';
    font-size: 0.875em;
    caret-color: var(--inline-code-color);
  }

  ul {
    line-height: 1.75rem;
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
  }

  ol {
    li {
      line-height: 1.75rem;
      margin-block-start: 0.6em;
      margin-block-end: 0.6em;
    }
  }

  u {
    text-decoration: none;
    border-bottom: 1px solid #999;
  }

  blockquote {
    border-left: 4px solid #ddd;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0 15px;
    p {
      color: #aaa;
    }
    cite::before {
      content: '-';
      padding: 0 5px;
    }
  }

  hr {
    background-image: repeating-linear-gradient(-45deg, #ddd, #ddd 4px, transparent 4px, transparent 8px);
    border: 0;
    height: 3px;
    margin: 40px 0;
  }
}
