---
import BasicLayout from '~/layouts/BasicLayout.astro';
import { usePostsSlug, usePost } from '~/lib/sanity';
import Markdown from '@astrojs/markdown-component';

export async function getStaticPaths() {
  return usePostsSlug().then((slugs) =>
    slugs.map((slug) => ({
      params: slug
    }))
  );
}
const { slug } = Astro.params;
if (!slug) return Astro.redirect('/404');
const post = await usePost(slug);
if (!post) return Astro.redirect('/404');
---

<BasicLayout title={post.title} description={post.summary}>
  <div class="prose">
    <Markdown>{post.content}</Markdown>
  </div>
</BasicLayout>
