/**
 * @desc split maupassant css
 * @desc 拆分原样式文件 公共的样式文件 布局样式等
 */

.clear {
    clear: both;
}

.clearfix,
.col-group {
    zoom: 1;
}

.clearfix:before,
.col-group:before,
.clearfix:after,
.col-group:after {
    content: " ";
    display: table;
}

.clearfix:after,
.col-group:after {
    clear: both;
}

.col1 {
    margin-right: -220px;
    height: auto;
    float: left;
    width: 100%;
    position: relative;
    background-position: 0 0;
}

.col2 {
    width: 204px;
    float: right;
    position: relative;
    overflow: hidden;
    background-position: right top;
}

.col-8 {
    width: 800px;
}

.col-12 {
    width: 100%;
}

.container {
    width: 1150px;
    padding: 0 60px;
    margin: 0 auto;
}


.aligncenter,
div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

img.alignleft {
    margin: 5px 15px 0 0;
}

img.alignright {
    margin: 5px 0 0 15px;
}