/**
 * CSS Styles for code highlighting.
 * Feel free to customize token styles 
 * by copying from a prismjs compatible theme:
 * https://github.com/PrismJS/prism-themes
 */

/* Code title styles */
.remark-code-container {
  box-shadow: 0px -6px 12px -5px #333;
  @apply relative mt-2 pt-0.5 bg-neutral-200 dark:bg-neutral-800 rounded translate;
}
.remark-code-container::before {
  content: attr(data-language);
  @apply absolute left-2 -top-0.5 rounded-b dark:bg-neutral-300 bg-neutral-700 px-2 py-0.5 font-mono text-sm font-bold dark:text-neutral-600 text-neutral-200;
}
.remark-code-container::after {
  content: attr(data-title);
  @apply absolute left-2 -top-0.5 rounded-b dark:bg-neutral-300 bg-neutral-700 px-2 py-0.5 font-mono text-sm font-bold dark:text-neutral-600 text-neutral-200;
}
.remark-code-container .code-copy-button {
  @apply min-w-16 absolute right-2 -top-0.5 dark:bg-neutral-300 bg-neutral-700 dark:text-neutral-600 text-neutral-200 rounded-b px-2 py-0.5 font-mono text-sm font-bold select-none;
}

/* Code block styles */
.code-highlight {
  @apply float-left min-w-full;
}

.code-line {
  @apply -mx-4 block border-l-4 border-transparent pl-4 pr-4;
}

.code-line.inserted {
  @apply bg-green-500 bg-opacity-20;
}

.code-line.deleted {
  @apply bg-red-500 bg-opacity-20;
}

.highlight-line {
  @apply relative preserve-3d;
}

.highlight-line::before {
  content: '';
  @apply -translate-z-1px h-full absolute -left-3 -right-3 bg-white dark:bg-neutral-700 bg-opacity-60;
}

.code-line.diff-deleted {
  @apply bg-red-700 bg-opacity-30 relative;
}

.code-line.diff-inserted {
  @apply bg-green-700 bg-opacity-30 relative;
}

.code-line.diff-warn {
  @apply bg-orange-700 bg-opacity-30 relative;
}

.code-line.diff-comment {
  @apply border-neutral-700 bg-neutral-700 bg-opacity-30 relative italic;
}

.line-number::before {
  @apply mr-4 -ml-2 inline-block w-4 text-right text-neutral-400;
  content: attr(line);
}

/* Token styles */

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.table {
  display: inline;
}

.token {
  @apply text-$text-color;
}

/* One dark */
.dark .token.comment,
.dark .token.prolog,
.dark .token.cdata {
  --text-color: hsl(220, 10%, 40%);
}

.dark .token.doctype,
.dark .token.punctuation,
.dark .token.entity {
  --text-color: hsl(220, 14%, 71%);
}

.dark .token.attr-name,
.dark .token.class-name,
.dark .token.boolean,
.dark .token.constant,
.dark .token.number,
.dark .token.atrule {
  --text-color: hsl(29, 54%, 61%);
}

.dark .token.keyword {
  --text-color: hsl(286, 60%, 67%);
}

.dark .token.property,
.dark .token.tag,
.dark .token.symbol,
.dark .token.deleted,
.dark .token.important {
  --text-color: hsl(355, 65%, 65%);
}

.dark .token.selector,
.dark .token.string,
.dark .token.char,
.dark .token.builtin,
.dark .token.inserted,
.dark .token.regex,
.dark .token.attr-value,
.dark .token.attr-value > .token.punctuation {
  --text-color: hsl(95, 38%, 62%);
}

.dark .token.variable,
.dark .token.operator,
.dark .token.function {
  --text-color: hsl(207, 82%, 66%);
}

.dark .token.url {
  --text-color: hsl(187, 47%, 55%);
}

.dark .token.attr-value > .token.punctuation.attr-equals,
.dark .token.special-attr > .token.attr-value > .token.value.css {
  --text-color: hsl(220, 14%, 71%);
}

.dark .language-css .token.selector {
  --text-color: hsl(355, 65%, 65%);
}

.dark .language-css .token.property {
  --text-color: hsl(220, 14%, 71%);
}

.dark .language-css .token.function,
.dark .language-css .token.url > .token.function {
  --text-color: hsl(187, 47%, 55%);
}

.dark .language-css .token.url > .token.string.url {
  --text-color: hsl(95, 38%, 62%);
}

.dark .language-css .token.important,
.dark .language-css .token.atrule .token.rule {
  --text-color: hsl(286, 60%, 67%);
}

.dark .language-javascript .token.operator {
  --text-color: hsl(286, 60%, 67%);
}

.dark
  .language-javascript
  .token.template-string
  > .token.interpolation
  > .token.interpolation-punctuation.punctuation {
  --text-color: hsl(5, 48%, 51%);
}

.dark .language-json .token.operator {
  --text-color: hsl(220, 14%, 71%);
}

.dark .language-json .token.null.keyword {
  --text-color: hsl(29, 54%, 61%);
}

.dark .language-markdown .token.url,
.dark .language-markdown .token.url > .token.operator,
.dark .language-markdown .token.url-reference.url > .token.string {
  --text-color: hsl(220, 14%, 71%);
}

.dark .language-markdown .token.url > .token.content {
  --text-color: hsl(207, 82%, 66%);
}

.dark .language-markdown .token.url > .token.url,
.dark .language-markdown .token.url-reference.url {
  --text-color: hsl(187, 47%, 55%);
}

.dark .language-markdown .token.blockquote.punctuation,
.dark .language-markdown .token.hr.punctuation {
  --text-color: hsl(220, 10%, 40%);
  font-style: italic;
}

.dark .language-markdown .token.code-snippet {
  --text-color: hsl(95, 38%, 62%);
}

.dark .language-markdown .token.bold .token.content {
  --text-color: hsl(29, 54%, 61%);
}

.dark .language-markdown .token.italic .token.content {
  --text-color: hsl(286, 60%, 67%);
}

.dark .language-markdown .token.strike .token.content,
.dark .language-markdown .token.strike .token.punctuation,
.dark .language-markdown .token.list.punctuation,
.dark .language-markdown .token.title.important > .token.punctuation {
  --text-color: hsl(355, 65%, 65%);
}

.dark .token.bold {
  font-weight: bold;
}

.dark .token.comment,
.dark .token.italic {
  font-style: italic;
}

.dark .token.entity {
  cursor: help;
}

.dark .token.namespace {
  opacity: 0.8;
}

.dark .token.token.tab:not(:empty):before,
.dark .token.token.cr:before,
.dark .token.token.lf:before,
.dark .token.token.space:before {
  --text-color: hsla(220, 14%, 71%, 0.15);
  text-shadow: none;
}

/* One Dark theme */

.token.comment,
.token.prolog,
.token.cdata {
  --text-color: hsl(230, 4%, 64%);
}

.token.doctype,
.token.punctuation,
.token.entity {
  --text-color: hsl(230, 8%, 24%);
}

.token.attr-name,
.token.class-name,
.token.boolean,
.token.constant,
.token.number,
.token.atrule {
  --text-color: hsl(35, 99%, 36%);
}

.token.keyword {
  --text-color: hsl(301, 63%, 40%);
}

.token.property,
.token.tag,
.token.symbol,
.token.deleted,
.token.important {
  --text-color: hsl(5, 74%, 59%);
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.regex,
.token.attr-value,
.token.attr-value > .token.punctuation {
  --text-color: hsl(119, 34%, 47%);
}

.token.variable,
.token.operator,
.token.function {
  --text-color: hsl(221, 87%, 60%);
}

.token.url {
  --text-color: hsl(198, 99%, 37%);
}

.token.attr-value > .token.punctuation.attr-equals,
.token.special-attr > .token.attr-value > .token.value.css {
  --text-color: hsl(230, 8%, 24%);
}
