.to-top {
    position: fixed;
    bottom: 36px;
    right: 36px;
    z-index: 2000;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;

    &.visible {
        opacity: 1;
        cursor: pointer;
    }

    i {
        width: 36px;
        height: 36px;
    }
}