.body-container {
	padding: 0 60px;
	max-width: 1150px;
	margin: 0 auto;
}
/* Media query */

/* middle*/

@media print, screen and (max-width: 48em) {
	.body-container {
		padding: 0 30px;
	}
	.content_container {
		padding-right: 15px;
	}
	.hidden_mid_and_down {
		display: none !important;
	}
	#sidebar {
		border-left-width: 0px;
	}
	#header {
		.site-name {
			margin-bottom: 20px;
			text-align: center;
		}
		#nav-menu {
			position: relative;
			text-align: center;
			a {
				padding: 0 15px;
				line-height: 27px;
				height: 27px;
				font-size: 13px;
			}
		}
	}
}
/* small*/

@media print, screen and (max-width: 35.5em) {
	.body-container {
		padding: 0 20px;
	}
	.content_container {
		padding-right: 0;
	}
}
