---
import { format, parseISO } from 'date-fns';
import FormattedDate from '~/components/FormattedDate.astro';
import PageTitle from '~/components/PageTitle.astro';
import BasicLayout from '~/layouts/BasicLayout.astro';
import { useArchives } from '~/lib/content';
import type { CollectionEntry } from 'astro:content';

const posts = useArchives();

const archivedPosts = posts.reduce((acc, post) => {
  const year = format(post.data.date, 'yyyy');
  if (acc.has(year)) {
    acc.set(year, [...acc.get(year)!, post]);
  } else {
    acc.set(year, [post]);
  }
  return acc;
}, new Map<string, CollectionEntry<'blog'>[]>());
---

<BasicLayout title="归档" description="">
  <PageTitle title="Archives" />
  <div class="mb-4">
    {
      Array.from(archivedPosts.entries()).map(([year, posts]) => {
        return (
          <div>
            <div class="relative inline-block py-1 mb-1">
              <span> {year}</span>
              <span class="absolute right-0 left-0 bottom-0 h-4px rounded bg-#eee" />
            </div>
            <div role="list" class="flex flex-col text-sm">
              {posts.map((post) => {
                return (
                  <div role="listitem" class="py-1">
                    <a href={`/blog/${post.slug}`} class="space-x-1">
                      <FormattedDate
                        date={post.data.date}
                        format="MM-dd"
                        class="op-80"
                      />
                      <span>{post.data.title}</span>
                    </a>
                  </div>
                );
              })}
            </div>
          </div>
        );
      })
    }
  </div>
</BasicLayout>
