// Colors
color-default = #4f5759
color-title = #222
color-border = #ddd
color-link = #33a6b8
color-background = #fff
color-meta = #999
color-footer = #777

@import url("//fonts.googleapis.com/css?family=Open+Sans:400,700");

// Fonts
font-sans = "PT Serif", "Microsoft Yahei", sans-serif
font-serif = "PT Serif", serif
font-mono = "PT Serif", "Microsoft Yahei", "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"
font-size = 100%
line-height = 2em