---
import BlogPost from '~/components/BlogPost.astro';
import { usePosts, usePostsCount } from '~/lib/sanity';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import BasicLayout from '../layouts/BasicLayout.astro';
const posts = await usePosts({ limit: 3 });
---

<BasicLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div
    class="text-9.5 leading-none tracking-.6px text-opacity-85 select-none font-900 my-8"
  >
    <span
      class="mx-1 my-2 inline-block relative after:-bottom-2 after:left-1/10 after:w-6/10 after:h-7 after:content-empty after:absolute after:inline-block after:rounded-[6px_12px_20px_14px] after:bg-opacity-30 after:bg-opacity-30 after:bg-black after:mix-blend-multiply after:-skew-x-20 after:-skew-y-2deg"
    >
      Latest
    </span>
  </div>
  <ul>
    {
      posts.map((item) => (
        <li class="group">
          <BlogPost {...item} />
        </li>
      ))
    }
  </ul>
  <nav>
    <a href="/blog/1" class="hover:underline">更多 →</a>
  </nav>
</BasicLayout>
