---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="scroll-smooth font-sans bg-[var(--e-bg)] text-black dark:text-white motion-safe:(transition-all duration-200 ease-in)"
  >
  </body>
</html>
