---
import BlogPost from '~/components/BlogPost.astro';
import { usePosts } from '~/lib/content';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import BasicLayout from '../layouts/BasicLayout.astro';
import Hero from '~/components/Hero.astro';
const posts = await usePosts();
---

<BasicLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Hero />
  <div
    class:list={[
      'flex items-center justfiy-between',
      'text-3xl leading-none tracking-.6px text-opacity-85 select-none font-900 my-2'
    ]}
  >
    <span flex-1>Latest</span>
    <a
      aria-label="All posts"
      href="/blog"
      class="text-sm op-50 flex items-center hover:op-100 transition-opacity cursor-pointer"
    >
      <span>更多</span>
      <div class="i-ri:arrow-right-double-fill"></div>
    </a>
  </div>
  <ul>
    {
      posts.map((item) => (
        <li class="group">
          <BlogPost {...item} />
        </li>
      ))
    }
  </ul>
</BasicLayout>
