---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<details class="group">
  <summary
    class="cursor-pointer select-none grid grid-auto-flow-col items-center gap-1 rounded text-sm px-2 py-1 hover:bg-neutral-200 dark:hover:bg-neutral-700"
  >
    {title}
    <div
      class="i-ri:arrow-down-s-line text-lg group-open:rotate-180 transition-transform ease-in"
    >
    </div>
  </summary>
  <div
    class:list={[
      'absolute mt-2 rounded-lg w-30 text-sm',
      'shadow-md bg-neutral-100 dark:bg-neutral-600'
    ]}
  >
    <slot />
  </div>
</details>
