<footer class="max-w-2xl text-center pb-8 pt-2 m-auto op-60">
  <hr
    class="border-black dark:border-white border-opacity-8 dark:border-opacity-8"
  />
  <div class="mt-8 flex align-baseline justify-between flex-wrap">
    <div class="text-xs">
      © 2022-{new Date().getFullYear()}
      <a href="/">enpitsulin</a>
    </div>
    <div class="text-xs">
      Powered by
      <a
        href="https://astro.build/"
        rel="noopener noreferrer"
        target="_blank"
        class="underline"
      >
        Astro
      </a> &amp;
      <a
        href="https://www.solidjs.com/"
        rel="noopener noreferrer"
        target="_blank"
        class="underline"
      >
        Solid
      </a>
    </div>
  </div>
</footer>
