<footer max-w-2xl text-center p="b-8 t-2" m-auto op-60>
  <hr border="black dark:white op-8 dark:op-8" />
  <div flex="~ items-center justify-between" mt-8 px-4>
    <div text-xs>
      © 2022-{new Date().getFullYear()}
      <a href="/">enpitsulin</a>
    </div>
    <div text-xs>
      Powered by
      <a
        href="https://astro.build/"
        rel="noopener noreferrer"
        target="_blank"
        underline
      >
        Astro
      </a> &amp;
      <a
        href="https://www.solidjs.com/"
        rel="noopener noreferrer"
        target="_blank"
        underline
      >
        Solid
      </a>
    </div>
  </div>
</footer>
