<footer class="max-w-2xl text-center pb-8 pt-2 m-auto space-y-1 op-60">
  <p class="text-xs">
    © 2022-{new Date().getFullYear()}
    <a href="/">enpitsulin</a>
  </p>
  <p class="text-xs">
    Powered by
    <a
      href="https://astro.build/"
      rel="noopener noreferrer"
      target="_blank"
      class="underline"
    >
      astro
    </a> &amp;
    <a
      href="https://www.solidjs.com/"
      rel="noopener noreferrer"
      target="_blank"
      class="underline"
    >
      solidjs
    </a>
  </p>
</footer>
