---
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import ThemeSwitch from './ThemeSwitch.astro';
import Dropdown from './Dropdown.astro';
---

<header transition-all border="b b-neutral-2 dark:b-neutral-7">
  <div max-w-4xl mx-auto px-4 py-4 flex="~ items-center">
    <a href="/" c="black dark:white op-82" font-bold>
      <span title={SITE_DESCRIPTION}>{SITE_TITLE}</span>
    </a>
    <span ml-auto role="separator"></span>
    <nav mr-1>
      <ul flex="inline items-center gap-0.5" p-2>
        <li text-sm>
          <a
            href="/blog"
            title="blog"
            rounded
            px-2
            py-1
            bg="hover:neutral-2 dark:hover:neutral-7"
          >
            文章
          </a>
        </li>
        <li text-sm>
          <a
            href="/archives"
            title="archives"
            rounded
            px-2
            py-1
            bg="hover:neutral-2 dark:hover:neutral-7"
          >
            归档
          </a>
        </li>
        <li text-sm>
          <a
            href="/tags"
            title="tags"
            rounded
            px-2
            py-1
            bg="hover:neutral-2 dark:hover:neutral-7"
          >
            标签
          </a>
        </li>
        <li text-sm>
          <Dropdown title="更多">
            <ul py-2>
              <li>
                <a
                  title="weekly"
                  href="/weekly"
                  mx-1.5
                  px-2
                  py-1
                  block
                  rounded
                  transition-colors
                  bg="hover:neutral-2 dark:hover:neutral-7"
                >
                  周记
                </a>
              </li>
              <li
                role="separator"
                h-1px
                w-full
                bg="neutral-2 dark:neutral-7"
                my-1.5
              >
              </li>
              <li>
                <a
                  href="/friends"
                  title="friends"
                  mx-1.5
                  px-2
                  py-1
                  block
                  rounded
                  transition-colors
                  bg="hover:neutral-200 dark:hover:neutral-700"
                >
                  友链
                </a>
              </li>
              <li>
                <a
                  title="about"
                  href="/about"
                  mx-1.5
                  px-2
                  py-1
                  block
                  rounded
                  transition-colors
                  bg="hover:neutral-2 dark:hover:neutral-7"
                >
                  关于
                </a>
              </li>
            </ul>
          </Dropdown>
        </li>
      </ul>
    </nav>
    <div flex="~ items-center gap-x-4">
      <a
        href="/rss.xml"
        rel="noopener noreferrer"
        target="_blank"
        hover="text-amber-600"
      >
        <span sr-only>Rss</span>
        <div i-ri:rss-fill w-5 h-5></div>
      </a>
      <ThemeSwitch />
    </div>
  </div>
</header>
