---
import { SITE_TITLE, SITE_DESCRIPTION, GITHUB_PROFILE } from '../consts';
import ThemeSwitch from './ThemeSwitch.astro';
---

<header
  class="transition-all border-b border-b-neutral-200 dark:border-neutral-700"
>
  <div class="max-w-4xl mx-auto px-4 py-4 flex items-center">
    <a href="/" class="font-bold text-opacity-82 text-black dark:text-white">
      <span title={SITE_DESCRIPTION}>{SITE_TITLE}</span>
    </a>

    <span class="ml-auto" role="separator"></span>
    <nav class="mr-4">
      <a
        href="/blog"
        class="rounded text-sm px-2 py-1 hover:bg-neutral-200 dark:hover:bg-neutral-700"
        >文章</a
      >
      <a
        href="/archives"
        class="rounded text-sm px-2 py-1 hover:bg-neutral-200 dark:hover:bg-neutral-700"
        >归档</a
      >
      <a
        href="/tags"
        class="rounded text-sm px-2 py-1 hover:bg-neutral-200 dark:hover:bg-neutral-700"
        >标签</a
      >
    </nav>
    <div class="space-x-4 flex items-center">
      <a
        aria-label="Rss"
        href="/rss.xml"
        rel="noopener noreferrer"
        target="_blank"
        class="hover:text-amber-600"
      >
        <div class="i-ri:rss-fill w-5 h-5"></div>
      </a>
      <ThemeSwitch />
    </div>
  </div>
</header>
