---
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import ThemeSwitch from './ThemeSwitch.astro';
import Dropdown from './Dropdown.astro';
---

<header
  class="transition-all border-b border-b-neutral-200 dark:border-neutral-700"
>
  <div class="max-w-4xl mx-auto px-4 py-4 flex items-center">
    <a href="/" class="font-bold text-opacity-82 text-black dark:text-white">
      <span title={SITE_DESCRIPTION}>{SITE_TITLE}</span>
    </a>
    <span class="ml-auto" role="separator"></span>
    <nav class="mr-1">
      <ul class="inline-flex items-center gap-0.5 p-2">
        <li class="text-sm">
          <a
            href="/blog"
            title="blog"
            class:list={[
              'rounded px-2 py-1 hover:bg-neutral-200 dark:hover:bg-neutral-700'
            ]}
          >
            文章
          </a>
        </li>
        <li class="text-sm">
          <a
            href="/archives"
            title="archives"
            class:list={[
              'rounded px-2 py-1 hover:bg-neutral-200 dark:hover:bg-neutral-700'
            ]}
          >
            归档
          </a>
        </li>
        <li class="text-sm">
          <a
            href="/tags"
            title="tags"
            class:list={[
              'rounded px-2 py-1 hover:bg-neutral-200 dark:hover:bg-neutral-700'
            ]}
          >
            标签
          </a>
        </li>
        <li class="text-sm">
          <Dropdown title="更多">
            <ul class="py-2">
              <li>
                <a
                  href="/friends"
                  title="friends"
                  class="mx-1.5 px-2 py-1 block rounded transition-colors hover:bg-neutral-200 dark:hover:bg-neutral-700"
                >
                  友情链接
                </a>
              </li>
              <li
                role="separator"
                class="relative h-1px my-2 bg-neutral-200 dark:bg-neutral-700"
              >
              </li>
              <li>
                <a
                  title="weekly"
                  href="#"
                  class="mx-1.5 px-2 py-1 block rounded transition-colors hover:bg-neutral-200 dark:hover:bg-neutral-700"
                >
                  周记 <sup class="scale-75 inline-block"> WIP</sup>
                </a>
              </li>
              <li>
                <a
                  title="weekly"
                  href="/about"
                  class="mx-1.5 px-2 py-1 block rounded transition-colors hover:bg-neutral-200 dark:hover:bg-neutral-700"
                >
                  关于 <sup class="scale-75 inline-block"> WIP</sup>
                </a>
              </li>
            </ul>
          </Dropdown>
        </li>
      </ul>
    </nav>
    <div class="space-x-4 flex items-center">
      <a
        aria-label="Rss"
        href="/rss.xml"
        rel="noopener noreferrer"
        target="_blank"
        class="hover:text-amber-600"
      >
        <div class="i-ri:rss-fill w-5 h-5"></div>
      </a>
      <ThemeSwitch />
    </div>
  </div>
</header>
