---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import ThemeSwitch from './ThemeSwitch.astro';
---

<header class="transition-all border-b border-b-neutral-200 dark:border-neutral-700">
  <div class="max-w-5xl mx-auto px-4 py-2 flex items-center">
    <a href="/" class="font-bold text-opacity-82 text-black dark:text-white">
      <span title={SITE_DESCRIPTION}>{SITE_TITLE}</span>
    </a>
    <span class="ml-auto" role="separator"></span>
    <ThemeSwitch />
  </div>
</header>
