<section class="mt-12 md:mt-18 mb-12">
  <h1 class="text-5xl font-bold">
    <span class="block">Hello,</span>
    <span class="block">
      I'm
      <div class="leading-none inline-block text-opacity-85 font-900">
        <span
          class="inline-block relative after:-bottom-2 after:left-1/10 after:w-6/10 after:h-7 after:content-empty after:absolute after:inline-block after:rounded-[6px_12px_20px_14px] after:bg-opacity-30 after:bg-opacity-30 after:bg-black after:mix-blend-multiply after:-skew-x-20 after:-skew-y-2deg"
        >
          enpitsulin.
        </span>
      </div>
    </span>
  </h1>
  <div class="mt-6 space-y-2">
    <p>Front-end developer / <del>Amateur designer.</del></p>
    <p>Currently living in Hangzhou.</p>
    <p>I like making interesting projects.</p>
  </div>

  <div mt-4 space-x-2 aria-label="Social platforms that author was using">
    <a
      after="bg-gray-700"
      title="Github page"
      class="lodash-effect inline-flex py-2"
      href="https://github.com/enpitsuLin"
      target="_blank"
    >
      <div text-xl>
        <div class="i-ri-github-fill"></div>
      </div>
      <div text-sm ml-1>Github</div>
    </a>
    <a
      after="bg-amber-500"
      title="Mail to me"
      class="lodash-effect inline-flex p-2"
      href="mailto:enpitsulin@gmail.com"
      target="_blank"
    >
      <div text-xl>
        <div class="i-ri-mail-fill"></div>
      </div>
    </a>
    <a
      after="bg-light-blue-500"
      title="Twitter account"
      class="lodash-effect inline-flex p-2"
      href="https://twitter.com/enpitsulin"
      target="_blank"
    >
      <div text-xl>
        <div class="i-fa-brands-twitter"></div>
      </div>
    </a>
    <a
      after="bg-light-blue-600"
      title="Mastodon account"
      class="lodash-effect inline-flex p-2"
      href="https://m.cmx.im/@enpitsulin"
      target="_blank"
    >
      <div text-xl>
        <div class="i-fa-brands-mastodon"></div>
      </div>
    </a>
    <a
      after="bg-yellow"
      title="Figma homepage"
      class="lodash-effect inline-flex p-2"
      href="https://figma.com/@enpitsulin"
      target="_blank"
    >
      <div text-xl>
        <div class="i-fa-brands-figma"></div>
      </div>
    </a>
    <a
      after="bg-pink"
      title="Bilibili account"
      class="lodash-effect inline-flex p-2"
      href="https://space.bilibili.com/423632"
      target="_blank"
    >
      <div text-xl>
        <div class="i-ri-bilibili-fill"></div>
      </div>
    </a>
  </div>
</section>
