<section class="mt-12 md:mt-18 mb-12">
  <h1 class="text-3xl font-bold"> 
    <span>
      Hi, I'm
      <div class="leading-none inline-block text-opacity-85 font-900">
        <span
          class="inline-block relative after:-bottom-2 after:left-1/10 after:w-6/10 after:h-7 after:content-empty after:absolute after:inline-block after:rounded-[6px_12px_20px_14px] after:bg-opacity-30 after:bg-opacity-30 after:bg-black after:mix-blend-multiply after:-skew-x-20 after:-skew-y-2deg"
        >
          enpitsulin.
        </span>
      </div>
      <span class="animate-name-wave-hands animate-duration-2500 animate-count-infinite transform-origin-[70%_70%] inline-block">👋</span>
    </span>
  </h1>
  <div class="mt-6 space-y-2"> 
    <p>
      A JavaScript
      <span
        class:list={[
          "font-mono hover:bg-#000/3 dark:hover:bg-#fff/3 w-13ch rounded-md px-2 py-0.5 relative",
          "after:(absolute top-1/10 right-0.5 h-4/5 border-r-[currentColor] border-r-2 content-empty animate-blink-text-cursor animate-duration-800 animate-count-infinite)"
        ]}
      >
        &lt;Developer /&gt;
      </span>
    </p>
    <p>Just coding with a spirited and love ❤.</p>
  </div>

  <div class="mt-4 space-x-2" aria-label="Social platforms that author was using">
    <a
      title="Github page"
      class="lodash-effect inline-flex py-2 after:bg-gray-700"
      href="https://github.com/enpitsuLin"
      target="_blank"
    >
      <div class="text-xl">
        <div class="i-ri-github-fill"></div>
      </div>
      <div text-sm ml-1>Github</div>
    </a>
    <a
      title="Mail to me"
      class="lodash-effect inline-flex p-2 after:bg-amber-500"
      href="mailto:enpitsulin@gmail.com"
      target="_blank"
    >
      <div class="text-xl">
        <div class="i-ri-mail-fill"></div>
      </div>
    </a>
    <a
      title="Twitter account"
      class="lodash-effect inline-flex p-2 after:bg-light-blue-500"
      href="https://twitter.com/enpitsulin"
      target="_blank"
    >
      <div class="text-xl">
        <div class="i-fa-brands-twitter"></div>
      </div>
    </a>
    <a
      title="Mastodon account"
      class="lodash-effect inline-flex p-2 after:bg-light-blue-600"
      href="https://m.cmx.im/@enpitsulin"
      target="_blank"
    >
      <div class="text-xl">
        <div class="i-fa-brands-mastodon"></div>
      </div>
    </a>
    <a
      title="Figma homepage"
      class="lodash-effect inline-flex p-2 after:bg-yellow"
      href="https://figma.com/@enpitsulin"
      target="_blank"
    >
      <div class="text-xl">
        <div class="i-fa-brands-figma"></div>
      </div>
    </a>
    <a
      title="Bilibili account"
      class="lodash-effect inline-flex p-2 after:bg-pink"
      href="https://space.bilibili.com/423632"
      target="_blank"
    >
      <div class="text-xl">
        <div class="i-ri-bilibili-fill"></div>
      </div>
    </a>
  </div>
</section>  
