<section class="mt-12 md:mt-18">
  <h1 class="title text-5xl font-bold">
    <span class="block">Hello,</span>
    <span class="block">I'm enpitsulin.</span>
  </h1>
  <div class="mt-6 space-y-2">
    <p>Front-end developer / <del>Amateur designer.</del></p>
    <p>Currently living in Hangzhou.</p>
    <p>I like making interesting projects.</p>
  </div>
</section>
