.collapse:not(.show) {
  @apply hidden;
}

.collapsing {
  @apply h-0 overflow-hidden;
  transition: height 0.35s ease;
}

.navbar {
  transition: background-color 0.3s ease-in-out;
  @apply relative flex flex-wrap items-center justify-between py-1;
}

.navbar > .container {
  @apply flex items-center justify-between max-w-7xl mx-auto w-full;
  flex-wrap: inherit;
}

.navbar-brand {
  @apply py-1;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.navbar-text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-toggler {
  transition: box-shadow 0.15s ease-in-out;
  @apply mr-2 py-1 px-3 border border-primary-100 rounded text-primary-100 text-lg bg-transparent;
}

.navbar-toggler svg {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

@media (prefers-reduced-motion: reduce) {
  .navbar-toggler {
    transition: none;
  }
}

.navbar-toggler:hover {
  text-decoration: none;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem;
}

@media (min-width: 768px) {
  .navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.header-placeholder {
  height: 0;
  transition: height 0.35s ease;
}

.header-placeholder.open {
  height: 300px;
}

@media (max-width: 768px) {
  .header-placeholder {
    transition: height 0.3s ease-in-out 0s;
  }
}

@media (min-width: 768px) {
  .header-placeholder {
    height: 0;
  }
}
