---
import Footer from '~/components/Footer.astro';
import '~/styles/base.css';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body
    class:list={[
      'bg-$e-bg text-black dark:text-white',
      'motion-safe:(transition-all duration-200 ease-in)'
    ]}
  >
    <Header />
    <main class="pt-16 pb-8">
      <div class="max-w-76ch mx-auto px-4">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
